@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1440px;
}




.credit__btn{
    transition: all 0.3s ease-in-out;
}

.credit__btn:hover{
    transition: all 0.3s ease-in-out;
}

.sales__btn{
    transition: all 0.3s ease-in-out;
}

.sales__btn:hover{
    transition: all 0.3s ease-in-out;
}

.nav__buttons{
    a{
        span{
            transition: all 0.3s ease-in-out;
            color: #ffff;
        }

        span:hover{
            color: #ffffffb3;
            transition: all 0.3s ease-in-out;
        }
    }
}

.nav__contact{
    a{
        span{
            transition: all 0.3s ease-in-out;
            color: #ffff;
        }

        span:hover{
            color: #ffffffb3;
            transition: all 0.3s ease-in-out;
        }
    }
}


.navigation-menu__btn{
    align-items: center;
    border: 2px solid #111;
    border-radius: 12px;
    color: #111;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 1.33;
    margin-right: auto;
    padding: 15px 27px 15px 28px;
    transition: all .3s ease 0s;

}


.burger__btn__container{
    display: flex;
    flex-direction: column;
    height: 14px;
    margin-right: 19px;
    position: relative;
    width: 20px;
}

img{
    max-width: 100%;
}


.swiper {
    width: 1106px;
    height: 382px;
}


.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .slider-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .slider-cards {
    display: flex;
    transition: transform 0.3s ease;
    gap: 20px; 
  }
  
  .card {
    flex: 0 0 20%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .slider{
    button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    }
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  

.product__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.add-to-cart__btn{
    padding: 8px;
    border: 2px solid black;
}